<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @contact.client %>
</p>

<p>
  <strong>Type:</strong>
  <%= @contact.medium %>
</p>

<p>
  <strong>Value:</strong>
  <%= @contact.value %>
</p>

<%= link_to 'Back', client_path(@client) %>
