<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Listing Bills</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Person</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Emission date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.client %></td>
        <td><%= bill.person %></td>
        <td><%= bill.description %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.emission_date %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path, :class => 'btn btn-default' %>
